body {
  text-align: center;
  padding: 0px;
  margin: 0px;
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}

#header {
  height: 120px;
  width: 100%;
  background: white;
  border-bottom: 1px solid #ccc;
  border-top: 5px solid #61dafb;
}

.center {
  width: 75%;
  margin: 0px auto;
}

#logo {
  width: 30%;
  font-size: 30px;
  float: left;
  margin-top: 35px;
}

#logo img {
  display: block;
  float: left;
  height: 60px;
  margin-top: -9px;
  margin-right: 10px;
  animation: girar infinite 5s linear;
}

/* #logo img {
  display: block;
  float: left;
  height: 60px;
  animation: girar infinite 30s linear;
} */

@keyframes girar {
  0% {
      transform: scale(1, 1);
  }

  50% {
      transform: scale(1.02, 1.02);
  }

  55%{
      transform: scale(0.95, 0.95);
  }

  100% {
      transform: scale(1, 1);
  }
}

#brand {
  display: block;
  margin: 0px auto;
  margin-top: 10px;
  margin-left: 10px;
  float: left;
}

#menu{
  width: 70%;
  float:right;
  font-size: 18px;
}

#menu ul{
  line-height: 85px;
  width: 60%;
  float:right;
}

#menu ul li{
  display: inline-block;
  list-style: none;
  height: 46px;
  margin-left: 15px;
  margin-right: 15px;
}

#menu a{
  text-decoration: none;
  color: #444;
  transition: 300ms all;
}

#menu a:hover {
  color: #0d86d6;
  font-weight: bold;
}

#slider {
  background: #207ce5;
  width: 100%;
  height: 320px;
  margin-top: -22px;
  color: white;
  text-shadow: 0px 0px 5px #444;
}

#slider h1 {
  padding: 0px;
  padding-top: 95px;
  text-align: center;
}

.image-wrap img {
  width: 50%;
  margin-top: 3px;
  margin-bottom: -12px;
}

.subheader img {
  margin-top: 35px;
}


.btn-white {
  text-decoration: none;
  display: block;
  background: white;
  color: rgb(88, 88, 88);
  padding: 10px;
  width: 100px;
  height: 35px;
  margin: 0px auto;
  font-size: 18px;
  text-transform: uppercase;
  text-shadow: none;
  line-height: 35px;
  box-shadow: 0px 0px 5px rgb(88, 88, 88);
  margin-top: 3%;
  border-radius: 4px;
  transition: 300ms all;
}

.btn-white:hover {
  background: #444;
  color: white;
}

#slider.slider-small {
  height: 150px;
}

#slider.slider-small h1 {
  padding: 0px;
  padding-top: 48px;
  text-align: center;
}

#content {
  width: 70%;
  float: left;
  min-height: 650px;
  margin-right: 20px;
}

#sidebar {
  width: 25%;
  float: left;
}

.sidebar-item {
  background: #f7f7f7;
  padding: 35px;
  margin-top: 30px;
  margin-bottom: 5px;
}

.sidebar-item h3 {
  text-transform: uppercase;
  font-size: 17px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin: 0px;
  border-bottom: 3px solid #ccc;
}

.titulo {
  text-shadow: none;
  list-style: none;
  text-decoration: none;
  margin: 0px auto;
}

.btn {
  background: green;
  color: white;
  padding: 8px;
  border-radius: 5px;
  margin-top: -12px;
  display: block;
  text-transform: uppercase;
  text-shadow: none;
  line-height: 35px;
  box-shadow: 0px 0px 5px rgb(88, 88, 88);
  transition: 300ms all;
  cursor: pointer;
}

#busca {
  margin: 0px auto;
  width: 98.8%;
  height: 15%;
  margin-top: 8px;
  border: none;
  cursor: pointer;
  background: black;
}

.btn:hover {
  background: black;
  color: white;
}

.align-form {
  width: 50%;
  margin: 0px auto;
}

.align-form label {
  display: block;
  float: left;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 17px;
}

#enviar {
  width: 100%;
  display: block;
  margin-top: 5px;
  border: none;
}

input[type="text"], textarea {
  width: 100%;
  height: 30px;
  border: 1px solid #eee;
  margin-bottom: 5px;
  transition: 300ms all;
}

input[type="text"], textarea:focus {
  box-shadow: 0px 0px 5px #ccc inset;
}

.radiobutton {
  margin-top: 20px !important;
  margin-bottom: 25px !important;
  float: left;
}

textarea {
  width: 100%;
  height: 100px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100px;
  max-height: 300px;
}

#footer {
  background: #ebe9e9;
  width: 100%;
  height: 70px;
  line-height: 70px;
  color: #444;
  margin-top: 30px;
}

#footer p {
  margin: 0px;
  padding: 0px;
}

.article-item h2 {
  display: inline-block;
  width: 100%;
  padding: 0px;
  margin: 0px;
  padding-top: 18px;
}

.subheader {
  font-size: 38px;
  border-bottom: 1px solid #eee;
}

.article-item .date {
  width: 100%;
  margin-top: 10px;
}

.article-item a {
  text-decoration: none;
}

.article-item a:hover {
  text-decoration: underline;
}

.article-detail .image-wrap img {
  width: 100%;
  height: auto;
  float: none;
  padding-bottom: 21px;
}

.article.item a {
  padding-bottom: 30px;
}

.clearfix:after {
  float: none;
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.clearfix {
  display: inline;
}

* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

/*RESPONSIVO*/

@media (max-width: 1488px){
  .center{
      width: 85%;
  }
}

@media (max-width: 1314px){
  .center{
      width: 95%;
  }

  #menu ul{
      width: auto;
  }
}

@media (max-width: 881px){
  #logo{
      width: 265px;
  }

  #menu{
      width: auto;
  }
}

@media (max-width: 813px){
  #logo{
      float:none;
      margin: 0px auto;
      margin-top: 20px;
  }

  #menu,
  #menu ul{
     clear:both;
     float:none;
     width: 100%;
     margin: 0px;
     padding: 0px;
     line-height: 43px;
  }

  #content{
      float:none;
      width: 100%;
  }

  #sidebar{
      float:none;
      width: 60%;
      margin: 0px auto;
      margin-bottom: 50px;
  }

  #slider h1{
      padding-top: 115px;
      font-size: 25px;
  }

  .align-form{
      width: 70%;
  }
}

@keyframes girar {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}